.carddisplay {
    position: fixed;
    top: 10vh;
    right: 1%;
    width: 60%;
    max-height: fit-content;
    background-color:lightsalmon;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  .contents{
    display: flex;
    justify-content: space-between;
  }
  .ulclass{
   list-style: none;
   display:flex;
   row-gap: 100px;
   column-gap: 100px;
   justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
  }